*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Project exclude paths
/androidApp/build/
/androidApp/build/intermediates/javac/debug/classes/
/shared/build/
/shared/build/intermediates/javac/debug/classes/